{% extends "higiene/base.html" %}

{%block title %} Agregar Productos {% endblock%}

{% block content%}
<head>
    <meta charset="UTF-8">
    <title>Formulario Agregar</title>
</head>
<body>

    <br><br>


    <!-- Formulario -->
    <div class="section container">
        <div class="row">
            <form class="col s12" action="agregar_producto" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="row card-panel">
                    <h4 style="text-align: center; margin-bottom: 5%;">Agregar Productos</h4>

                    <div class="input-field col s6">
                        <input type="text"   id="nombr" name="nombre" class="validate" required>
                        <label style="color: black;" for="nombr">Nombre:</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="number"   id="precio" name="precio" class="validate" required>
                        <label style="color: black;" for="precio">Precio:</label>
                    </div>
                    <div class="input-field col s6">
                            <input type="date"  id="calendar" name="calendar" class="validate" required>
                            <label style="color: black;" for="calendar" >Fecha de Envasado:</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text"   id="marca" name="marca" class="validate" required>
                        <label style="color: black;" for="marca">Marca:</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="file"   id="img" name="img" class="validate" required >
                        <label style="color: black; margin:" for="img" >Imagen:</label>
                    </div>

                    <div class="container col s12 text-align: center">
                    <div class="row">
                            <a class="waves-effect waves-light btn-large" href="menu_principal">Cancelar</a>
                            <button class="waves-effect waves-light btn-large" type="submit" value="grabar">Enviar</button>
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </div>



</body>
</html>

{% endblock %}

{% block javascript%}
    <script>
        $(document).ready(function(){
        $('select').formSelect();
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();
      });
    </script>
{% endblock %}

----


