<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title> {% block title%}  Productos de Limpieza {% endblock %}</title>

    <script src="ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--Import Google Icon Font-->
      <link href="fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  />

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>
<body class="row cyan lighten-3">

    <!-- NavBar -->
      <div class="navbar-fixed">
        <nav class="nav-wrapper cyan darken-2">
          <div class="container">
            <img src="/media/icons/mr.png" style="width: 5%; height: 5%; margin-top: 1%; margin-right: 2%;" alt="Erorr de carga">
            <a href="menu_principal" class="brand-logo" > Mr Limpieza</a>
            <a href="#"  data-target="menu-responsive" class="sidenav-trigger">
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="menu_principal">Inicio</a></li>
              <li><a href="productos_general">Productos</a></li>
              <li><a href="comentarios">Enviar Comentario</a></li>
              <li><a href="registro">Registrarse</a></li>
              <li><a href="login">Iniciar Sesion</a></li>
            </ul>
          </div>
        </nav>
        <ul class="sidenav" id="menu-responsive">
          <li><a href="menu_principal">Inicio</a></li>
          <li><a href="productos_general">Productos</a></li>
          <li><a href="comentarios">Enviar Comentario</a></li>
          <li><a href="registro">Registrarse</a></li>
        </ul>
      </div>




    {% block content %}

    {% endblock %}



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{%  static 'js/materialize.min.js' %}"></script>

    {% block javascript%}

    {% endblock%}
    <!-- Footer -->
    <footer class="page-footer cyan darken-1">
      <div class="container">
        <div class="row">
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Enlaces</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="quienesSomos">¿Quienes somos?</a></li>
              <li><a class="grey-text text-lighten-3" href="comentarios">Envianos un comentario</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 Copyright
        <a class="grey-text text-lighten-4 right" href="menu_principal">Mr Limpieza</a>
        </div>
      </div>
    </footer>
</body>
</html>