{% extends "higiene/base2.html" %}

{%block title %} Iniciar sesión {% endblock%}

{% block content%}

<div class="section container" >
  <div class="row">
    <form action="" method="POST" class="col s12">
        <div class="row card-panel">

            <h4 style="color: rgb(0, 196, 196);text-align: center; margin-bottom: 5%;">Ingrese sus datos</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <br><br>
                <input class="waves-effect waves-light btn-large" type="submit" value="Ingresar">
            </form>
            <a href="{% url 'social:begin' 'facebook' %}">Iniciar Sesión con facebook</a>

        </div>
    </form>
  </div>
</div>

{% endblock %}

{% block javascript%}
    <script>
        $(document).ready(function(){
        $('select').formSelect();
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();
      });
    </script>
{% endblock %}